body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* margin: 0 auto; */
  /* text-align: center; */
  background-color:cornsilk
}
.centertext, h1, h2 {
  text-align: center;
}

p {
  text-align: left;
  margin-left: 10px;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #eaeaea;
  padding: 0.5rem 0.2rem;
  margin: 0.2rem;
  background-color: #eceaea;
  color: #757373;
  cursor: pointer;
  transition: all 0.2s ease;
}
